.header{
    height: 70px;
    width: 80rem;
    background-color: rgb(222, 214, 230);
    color: brown;
    display: flex;
   
}

.left-header{
    margin: 30px;
    gap: 30px;
    display: flex;
    border-color: brown;
}

.header a{
    text-decoration: none;
    color: rgb(53, 2, 2);
    font-family: Arial, Helvetica, sans-serif;
}

.cart{
    height: 50px;
    width: 60px;
    margin-top: -15px;
    
}

.right-header{
    
    margin-left: 16rem;
    margin-top: 30px;
    gap: 30px;
    display: flex;
}

.right-header button{
    margin: 0 0 20px 25px;
    background-color: rgb(211, 211, 250);
    font-weight: bold;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.body{
    height: 30rem;
    width: 80rem;
    background-color: rgb(228, 207, 248);
    display: flex;
}

.left{
    height: 30rem;
    width: 40rem;
    background-color: rgb(222, 214, 230);
    
}

.fonts{
    margin: 2.5rem 0 0 5rem;
    color: rgb(18, 18, 145);
    font-weight: bold;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.comment{
    margin: 3rem 0 0 5rem;
}

.comment .mail{
    height:30px;
    width: 170px;
    border-radius: 5px;
    border-bottom: 5px solid rgb(122, 15, 20);
    margin-top: 5px;
    font-family:  sans-serif
}

.comment input{
    height:100px;
    width: 27rem;
    padding-left: 50px;
    margin-top: 2px;
    border: none;
}

.right{
    height: 30rem;
    width: 40rem;
    background-color: rgb(222, 214, 230);
}

.int{
    height: 30rem;
    width: 40rem;
    opacity: 100%;
}

.rec{
    height: 20rem;
    width: 31rem;
    position: absolute;
    border-radius: 3rem;
    margin-left: -75.3rem;
    opacity: 35%;
}

.gr{
    height: 20rem;
    width: 25rem;
    position: absolute;
    margin-top: 5rem;
    margin-left: -33rem;
    border: 5px solid red;
    
}

.lower{
    height: 22rem;
    width: 80rem;
    background-color: rgb(36, 32, 32);
    
}

.lower h2{
    font-size: x-large;
    padding: 2rem 0 0 5rem;
    color: beige;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.lower h4{
    padding: 0 0 0 5rem;
    color: beige;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.stores{
    display: flex;
    color: aliceblue;
    gap: 15px;
    margin-left: 3rem;
}

.stores .electronics, .eat, .pharm, .fruit, .cakes, .groc, .phone{
    height: 12rem;
    width: 10rem;
}

.stores .electronics, .Eatries, .pharmacies, .fruits, .Cakes, .Groceries, .Phone{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.foot {
    display: grid;
    justify-content:left;
    margin-top: -15rem;
    gap: 2.6rem;
}

.foot img{
    height: 25px;
    width: 25px;
    margin-left: 15px;
    
}

.foot .connect{
    text-align: right;
    margin: 1rem;
}

